extends ../layout/layout

block styles
  link(rel='stylesheet', href='/static/styles/help.css')

block body
  .help-con
    h3 购物流程
    p
      img(src='/static/images/help/step.jpg')
      img(src='/static/images/help/step-02.jpg')
      img(src='/static/images/help/step-03.jpg')
      img(src='/static/images/help/step-04.jpg')
      img(src='/static/images/help/step-05.jpg')
