extends ../layout/layout

block styles
  link(rel='stylesheet', href='/static/styles/help.css')

block body
  ul.menu
    li
      .menu-main
        | 新手指南
        i.active
      ul.menu-sub
        li
          a(href='/help/step')
            | 购物流程
            i
        li
          a(href='/help/pay')
            | 支付方式
            i
        li
          a(href='/help/express')
            | 配送方式
            i
        li
          a(href='/help/issue')
            | 常见问题
            i
    li
      .menu-main
        | 用户中心
        i.active
      ul.menu-sub
        li
          a(href='/help/credits')
            | 积分说明
            i
        li
          a(href='/help/coupon')
            | 优惠券指引
            i
        li
          a(href='/help/identity')
            | 身份证说明
            i
    li
      .menu-main
        | 购物保障
        i.active
      ul.menu-sub
        li
          a(href='/help/real')
            | 正品保障
            i
        li
          a(href='/help/custom')
            | 清关&税费
            i
        li
          a(href='/help/service')
            | 服务声明
            i
        li
          a(href='/help/feature')
            | 特色服务
            i
    li
      .menu-main
        | 售后服务
        i.active
      ul.menu-sub
        li
          a(href='/help/return')
            | 退货服务政策
            i
        li
          a(href='/help/transport')
            | 物流说明
            i
    li
      a.menu-main(href='/help/size')
        | 尺码助手
        i
  //build:js(.tmp) /static/scripts/help.js
  script(src='/static/plugin/zepto/zepto.js')
  script(src='/static/scripts/help.js')
  //endbuild
